@page "/"

@inject IPrinterPortManager PrinterPortManager


<h1>Добаление порта для принтера</h1>
<div class="form-check">
    <input name="isNetwork" type="checkbox"
           class="form-check-input"
           @bind-value="_isNetwork" />
    <label class="form-label" for="isNetwork">Сетевой принтер</label>
</div>
<div class="mb-3">
    <label for="printerPortName" class="form-label">Введите имя порта</label>
    <input type="text" name="printerPortName"
           placeholder="@(PlaceholderStringForNamePort)"
           class="form-control"
           @bind="_printerPortName" @bind:event="oninput" />
</div>
<div class="mb-3">
    <label for="targetComputerName" class="form-label">Введите имя целевого компьютера</label>
    <input type="text" name="targetComputerName" 
           placeholder="WsXXX"
           class="form-control"
           @bind="_targetComputerName" @bind:event = "oninput"/>
</div>
<button disabled="@(!IsCorrect)" @onclick="Create" class="btn btn-primary mb-3">Создать</button>
<br />
<span>@_resultOperation</span>

@code {
    private string _printerPortName = "";
    private string _targetComputerName = "";
    private string _resultOperation = "";
    private bool _isNetwork = false;

    public bool IsCorrect => !string.IsNullOrEmpty(_printerPortName) && !string.IsNullOrEmpty(_targetComputerName);
    public string PlaceholderStringForNamePort => (_isNetwork) ? "printerXX или 192.168.X.X" : @"\\WsXXX\CanonLBP 6030";

    async Task Create()
    {
        _resultOperation = "подождите, идет выполнение...";
        await Task.Run(() =>
        {
            _resultOperation = PrinterPortManager.CreatePort(_printerPortName, _targetComputerName, _isNetwork);
        });
        _printerPortName = "";
        _targetComputerName = "";
    }
}
