@page "/"

@inject IPrinterPortManager PrinterPortManager


<h1>Добаление порта для принтера</h1>
<div class="mb-3">
    <label for="printerPortName" class="form-label">Введите имя порта</label>
    <input type="text" name="printerPortName" 
           placeholder="\\имя компьютера\имя общего ресурса"
           class="form-control"
           @bind="_printerPortName" @bind:event = "oninput"/>
</div>
<div class="mb-3">
    <label for="targetComputerName" class="form-label">Введите имя целевого компьютера</label>
    <input type="text" name="targetComputerName" 
           placeholder="Ws..."
           class="form-control"
           @bind="_targetComputerName" @bind:event = "oninput"/>
</div>
<button disabled="@(!IsCorrect)" @onclick="Create" class="btn btn-primary mb-3">Создать</button>
<br />
<span>@_resultOperation</span>

@code {
    private string _printerPortName = "";
    private string _targetComputerName = "";
    private string _resultOperation = "";
    private bool _isNetwork = false;

    public bool IsCorrect => !string.IsNullOrEmpty(_printerPortName) && !string.IsNullOrEmpty(_targetComputerName);

    async Task Create()
    {
        _resultOperation = "подождите, идет выполнение...";
        await Task.Run(() =>
        {
            _resultOperation = PrinterPortManager.CreatePort(_printerPortName, _targetComputerName, _isNetwork);
        });
        _printerPortName = "";
        _targetComputerName = "";
    }

}
